*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #FF6900;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.relative{
    position: relative;
}
footer{
    
    bottom: 0;
    background-color: #1A1A1A;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.flex{
    display: flex;
}

.container{
    max-width: 1500px;
    margin: auto;
}
.header-position-fix{
    justify-content: space-between;
    align-items: center;
}
.bool-logo{
height: 30px;
}
header a,
header i,
footer a,
footer i {
    text-decoration: none;
    color: white;
    padding: 0 .3rem;
}
.main-container-fix{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 3rem;
    padding: 4rem 0;
}
.column{
    position: relative;
    flex-basis: calc((100% - 16px*3) / 3);
    
}
main img {
    width: 100%;
    display: block;
}
.bold-bigfont{
    font-size: 20px;
    font-weight: 700;
}
.colum-text-red{
    color: #FF0000;
    font-weight:bold;
}
.column-text-underline{
    text-decoration: line-through;
}
footer .container{
    justify-content: space-between;
}
.right-column{
    text-align: right;
}
.footer-column{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer-title{
    font-size: 20px;
    padding: .5rem 0 ;
}
footer i {
    font-size: 19px;
}
.discount{
    display: inline-block;
    color: white;
    background-color: red;
    padding: .2rem .5rem;
    font-weight: bold;
    font-size: 18px;
}
.sostenibilità{
    background-color: green;
}
.position{
    position: absolute;
    bottom: 15%;
}
.heart{
    position: absolute;
    font-size: 35px;
    background-color: white;
    top:.7rem;
    right: 0;
    padding: .3rem .7rem;
}
.hover{
    display: none;
}
.column:hover .hover{
    display: block;
}
.column:hover .default{
    display: none;
} 